In [1]:
import pandas as pd
df=pd.read_csv('D:\\csv file\\class.csv')
df

   Student id  class  study hrs  social media usein hrs  percentage section
0        1001     10          3                       4          70       A
1        1002     12          4                       6          80       C
2        1003     10          4                       8          90       A
3        1004     11          2                       5          70       B
4        1005      9          2                       7          56       B

In [8]:
gr1=df.groupby(by='section')
gr1

In [9]:
gr1.groups

{'A': [0, 2], 'B': [3, 4], 'C': [1]}

In [14]:
df_1=df.groupby(['section','class']).groups

In [16]:
for Class, df_1 in gr1:
    print(Class)
    print(df_1)

A
10
B
9
B
11
C
12

In [17]:
list[gr1]

list[{('A', 10): [0, 2], ('B', 9): [4], ('B', 11): [3], ('C', 12): [1]}]

In [19]:
dict(gr1)

{('A', 10): Int64Index([0, 2], dtype='int64'),
 ('B', 9): Int64Index([4], dtype='int64'),
 ('B', 11): Int64Index([3], dtype='int64'),
 ('C', 12): Int64Index([1], dtype='int64')}

In [20]:
for section, x in gr1:
    print(section)
    print(x)

A
10
B
9
B
11
C
12

In [24]:
gr3=df.groupby('class').get_group(10)
gr3

   Student id  class  study hrs  social media usein hrs  percentage section
0        1001     10          3                       4          70       A
2        1003     10          4                       8          90       A

In [29]:
gr4=df.groupby('section').get_group('A')
gr4

   Student id  class  study hrs  social media usein hrs  percentage section
0        1001     10          3                       4          70       A
2        1003     10          4                       8          90       A

In [32]:
# Applying a function into group
gr4.sum()

Student id                2004
class                       20
study hrs                    7
social media usein hrs      12
percentage                 160
section                     AA
dtype: object

In [33]:
gr4.mean()

C:\Users\User\AppData\Local\Temp\ipykernel_16504\3929674803.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  gr4.mean()

Student id                1002.0
class                       10.0
study hrs                    3.5
social media usein hrs       6.0
percentage                  80.0
dtype: float64

In [36]:
gr4.describe()

        Student id  class  study hrs  social media usein hrs  percentage
count     2.000000    2.0   2.000000                2.000000    2.000000
mean   1002.000000   10.0   3.500000                6.000000   80.000000
std       1.414214    0.0   0.707107                2.828427   14.142136
min    1001.000000   10.0   3.000000                4.000000   70.000000
25%    1001.500000   10.0   3.250000                5.000000   75.000000
50%    1002.000000   10.0   3.500000                6.000000   80.000000
75%    1002.500000   10.0   3.750000                7.000000   85.000000
max    1003.000000   10.0   4.000000                8.000000   90.000000

In [37]:
gr4.agg(['max','min','sum'])

     Student id  class  study hrs  social media usein hrs  percentage section
max        1003     10          4                       8          90       A
min        1001     10          3                       4          70       A
sum        2004     20          7                      12         160      AA