In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.4.2'

In [7]:
list_1=[1,2,3,4,"hello india"]
list_s=pd.Series(list_1)
print(list_s)

0              1
1              2
2              3
3              4
4    hello india
dtype: object

In [9]:
list_s1=pd.Series([1,2,3,4,"anurag"])
print(list_s1)

0         1
1         2
2         3
3         4
4    anurag
dtype: object

In [10]:
type[list_s1]

type[0         1
1         2
2         3
3         4
4    anurag
dtype: object]

In [11]:
empty_s=pd.Series([])
print(empty_s)

Series([], dtype: float64)

C:\Users\User\AppData\Local\Temp\ipykernel_15236\2823983443.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s=pd.Series([])

In [13]:
list_s2=pd.Series([1,2,3,4,"anurag"],index=['a','b','c','d','e'])
print(list_s2)

a         1
b         2
c         3
d         4
e    anurag
dtype: object

In [17]:
list_s3=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float)
print(list_s3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

# scalar value mean single value

In [18]:
scalar1=pd.Series(1.2)
print(scalar1)

0    1.2
dtype: float64

In [22]:
scalar2=pd.Series(1.2,index=[1,2,3],dtype=int)
print(scalar2)

1    1
2    1
3    1
dtype: int32

# create using dictionry

In [23]:
dic_s=pd.Series({'a':1,'b':2,'c':3})
print(dic_s)

a    1
b    2
c    3
dtype: int64

# ADDINIG two series

In [26]:
s1=pd.Series([1,2,3,4])
print(s1)

0    1
1    2
2    3
3    4
dtype: int64

In [27]:
s2=pd.Series([1,2,3,4])
print(s2)

0    1
1    2
2    3
3    4
dtype: int64

In [28]:
s1+s2

0    2
1    4
2    6
3    8
dtype: int64

In [29]:
s1+scalar2

0    NaN
1    3.0
2    4.0
3    5.0
dtype: float64

# splite

In [30]:
s1[1]

2

In [32]:
s1[0:2]

0    1
1    2
dtype: int64

In [33]:
max(s1)

4

In [34]:
min(s1)

1

In [35]:
s1[s1<3]

0    1
1    2
dtype: int64

In [36]:
s1.add(s2)##using add method

0    2
1    4
2    6
3    8
dtype: int64

In [37]:
s1.drop(1)## drop using index

0    1
2    3
3    4
dtype: int64