In [1]:
import pandas as pd

In [3]:
empty_df=pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

# creating dataframe using list

In [5]:
list1=[1,2,3,4]
list_df=pd.DataFrame(list1)
list_df

   0
0  1
1  2
2  3
3  4

# creating dataframe using list of list

In [6]:
ls_of_ls=[[1,2,3],[4,5,6],[6,7,8]]

In [7]:
pd.DataFrame(ls_of_ls)

   0  1  2
0  1  2  3
1  4  5  6
2  6  7  8

In [8]:
dic_df={'a':[1,2,3,4]}
pd.DataFrame(dic_df)

   a
0  1
1  2
2  3
3  4

In [11]:
dic_df={'ID':[1,2,3,4],"SS":[111,222,333,444]}
pd.DataFrame(dic_df)

   ID   SS
0   1  111
1   2  222
2   3  333
3   4  444

In [18]:
ls_of_dic=[{'a':1},{'b':2},{'a':1,'b':2,'c':3}]
pd.DataFrame(ls_of_dic)

     a    b    c
0  1.0  NaN  NaN
1  NaN  2.0  NaN
2  1.0  2.0  3.0

# dictionery of series

In [29]:
dic1={'ID':pd.Series([1,2,3,4]),'SS': pd.Series([111,222,333,444])}
pd.DataFrame(dic1)

   ID   SS
0   1  111
1   2  222
2   3  333
3   4  444